<div class="row py-2 m-2 text-center justify-content-center">
  <div class="col-7">

  <div class="row justify-content-between my-1">
    <div class="col-5">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input nz-input style="width: 100%" placeholder="Search User" [(ngModel)]="searchUser" type="string" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <!-- <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button> -->
      <button class="trigger_search"  nz-button nzType="primary" nzSearch (click)="search()"><span nz-icon nzType="search"></span></button>
    </ng-template>
    </div>
    <button class="col-2 " nz-button nzType="default" nzDanger nz-popconfirm
    nzPopconfirmTitle="Are you sure delete this user data?"
    nzPopconfirmPlacement="bottom"
    (nzOnConfirm)="deleteSelectedUsers()"
    (nzOnCancel)="cancel()">Delete</button>
  </div>    
  <nz-table 
      nzShowPagination
      nzShowSizeChanger 
      #userTable 
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
      [nzData]="listOfDisplayUser || []">
    <thead>
      <tr>
        <th
            [nzChecked]="checked"
            [nzIndeterminate]="indeterminate"
            nzLabel="Select all"
            (nzCheckedChange)="onAllChecked($event)"
          ></th>
        <th nzCustomFilter>Name
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <span nz-icon nzType="search"></span>
          </nz-filter-trigger>
        </th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of userTable.data" [ngStyle]="{'background': setOfCheckedId.has(data.id) ? '#e6e6e6' : 'white'}">
        <td
        [nzChecked]="setOfCheckedId.has(data.id)"
        [nzDisabled]="data.disabled"
        nzLabel="data.name"
        (nzCheckedChange)="onItemChecked(data.id, $event)"
      ></td>
        <td>
            <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
              {{ data.name }}
            </div>
            <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.name" (blur)="stopEdit()" />
        </td>
        <td>
            <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
              {{ data.email }}
            </div>
            <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.email" (blur)="stopEdit()" />
        </td>
        <td>
            <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
              {{ data.role }}
            </div>
            <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.role" (blur)="stopEdit()" />
        </td>
        <td>
          <a (click)="startEdit(data.id)"><span nz-icon nzType="edit" nzTheme="twotone"  [nzTwotoneColor]="'#52c41a'"></span></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this user data?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="deleteUser(data.id)"
          (nzOnCancel)="cancel()"><span nz-icon nzType="delete" [nzTheme]="'twotone'" [nzTwotoneColor]="'#FF0000'"></span></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchUser" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
</div>
</div>